APP_NAME=Abisindar ERP
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5433/database

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60